*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("coding_background_1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
/*----------------------------------------------------Heading Section for all website--------*/
.navigation-bar{
    position: relative;
    z-index: 2;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.title-text{
    margin-left: 12px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
}
.menu-icon, .cross-icon{
    background-color: rgb(240, 52, 52);
    border-radius: 8px;
    display: none;
    margin-right: 12px;
    height: 40px;
}

.nave-items{
    margin-right: 15px;
    list-style-type: none;
    display: flex;
    column-gap: 15px;
}
.nave-items li{
    text-align: center;
    width: 100px;
    padding: 5px 0;
    border-left: solid 2px aliceblue;
    border-right: solid 2px aliceblue;
    border-radius: 8px;
}
.nave-items li:hover{
    border-left: solid 2px rgb(201, 31, 76);
    border-right: solid 2px rgb(201, 31, 76);
    color: rgb(201, 31, 76);
}
.nave-items a{
    text-decoration: none;
    color: aliceblue;
}
.side-navigation{
    display: none;
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    height: auto;
    width: 100%;
    background-color: aliceblue;
}
.side-navigation .side-nave-items{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    list-style-type: none;
}
.side-navigation .side-nave-items a{
    text-decoration: none;
    width: 100%;
}
.side-navigation .side-nave-items li{
    background-color: black;
    width: 100%;
    padding: 15px 1.8vw;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}
/*-------------------------------------------------------(Finish)Heading Section for all website */
.body-text{
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-text p{
    background-color: rgba(172, 34, 87, 0.547);
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.all-buttons{
    display: flex;
    flex-direction: row;
    column-gap: 1.2vw;
    margin-bottom: 50px;
}
.all-buttons .btn{
    margin: 10px 0;
    width: 200px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgba(255, 73, 73, 0.574);
    color: rgb(209, 233, 255);
    border-top: solid 2px rgb(201, 31, 76);
    border-bottom: solid 2px rgb(201, 31, 76);
    border-left: none;
    border-right: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.all-buttons .btn:hover{
    background-color: rgb(240, 52, 52);
    color: aliceblue;
}
/*----------------------------------------------------Style for about.html------------------*/
.about-body{
    width: 100%;
    margin: 50px auto;
}

.about-text-title{
    color: aliceblue;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;
    padding: 15px 30px;
    background-color: rgba(172, 34, 87, 0.547);
}
.about-text-all-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-creator-picture{
    max-width: 350px;
    border-radius: 15px;
    margin: 15px;
}
.about-text{
    color: rgb(3, 4, 5);
    max-width: 550px;
    margin: 15px;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.769);
    border-radius: 15px;
    font-size: 15px;
}
/*---------------------------------------------------------(END Of about.html)----------------*/

/*----------------------------------------------------------(start)My Work 1-------------------*/

.mw-1-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.mw-1-box{
    width: 200px;
    height: 200px;
    background-color: transparent;
    transform-style: preserve-3d;
    animation: 5s box infinite linear;
}
@keyframes box {
    0%{
        transform: rotateX(-45deg);
    }
    100%{
        transform: rotateX(-45deg) rotateY(360deg);
    }
}
.mw-1-box-parts{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(50, 8, 8);
}
#mw-1-box-part-1{
    transform: translateX(100px) rotateY(90deg);
}
#mw-1-box-part-2{
    transform: translateX(-100px) rotateY(-90deg);
}
#mw-1-box-part-3{
    transform: translateZ(-100px) rotateY(-180deg);
}
#mw-1-box-part-4{
    transform: translateZ(100px);
}
#mw-1-box-part-5{
    transform: translateY(-100px) rotateX(-90deg);
}
#mw-1-box-part-6{
    transform: translateY(100px) rotateX(90deg);
}
#mw-1-box-part-6-shadow{
    transform: translateY(150px) rotateX(90deg);
    background-color: rgba(255, 255, 255, 0.421);
    border: none;
    box-shadow: 0 0 100px 20px aliceblue;
}

/*----------------------------------------------------------(End) My work 1--------------------*/

/*----------------------------------------(start)footer section for all pages------------*/
.footer{
    width: 100%;
    background-color: black;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.footer .social-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}
.footer-links-icon{
    width: 20px;
    height: 20px;
}
/*----------------------------------------(End)footer section for all pages------------*/
@media (max-width: 1100px) {
    /*----------------------------------(start)media querries for navigation bar-----------*/
    .navigation-bar{
        background-color: black;
    }
    .menu-icon{
        display: initial;
    }
    .cross-icon{
        display: initial;
    }
    .nave-items{
        display: none;
    }
    .side-navigation{
        display: initial;
    }
    /*--------------------------(End)media querries for navigation bar-----------------------*/
    .body-text p{
        font-size: 20px;
    }
    .all-buttons .btn{
        font-size: 15px;
    }
    .all-buttons{
        margin-top: 50px;
        flex-direction: column;
    }
    .body-text{
        position: inherit;
        margin-top: 20%;
    }
    /*---------------------------------------media querries for about.html----------*/
    .about-text-all-content{
        display: flex;
        flex-direction: column;
    }
    /*-------------------------------------------------------------------------------*/
}
@media (max-width: 500px) {
    .mw-1-box{
        width: 100px;
        height: 100px;
    }
    .mw-1-box-parts{
        width: 100px;
        height: 100px;
    }
    #mw-1-box-part-1{
        transform: translateX(50px) rotateY(90deg);
    }
    #mw-1-box-part-2{
        transform: translateX(-50px) rotateY(-90deg);
    }
    #mw-1-box-part-3{
        transform: translateZ(-50px) rotateY(-180deg);
    }
    #mw-1-box-part-4{
        transform: translateZ(50px);
    }
    #mw-1-box-part-5{
        transform: translateY(-50px) rotateX(-90deg);
    }
    #mw-1-box-part-6{
        transform: translateY(50px) rotateX(90deg);
    }
    #mw-1-box-part-6-shadow{
        transform: translateY(80px) rotateX(90deg);
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        box-shadow: 0 0 50px 20px aliceblue;
    }
    
}
